
<div 
    class="overflow-hidden relative"
>
    @if (!isViewingToday()) {
        <div class="absolute bottom-4 right-4 z-50">
            <button class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-full shadow-lg cursor-pointer transition-all" (click)="scrollToTodayRecords()">
                today
            </button>
        </div>
    }

    <div class="grid gap-0">

        <div class="grid grid-cols-4 bg-gray-50 border-b sticky top-0">
            <div class="px-4 py-2 font-semibold">Date</div>
            <div class="px-4 py-2 font-semibold">Balance</div>
            <div class="px-4 py-2 font-semibold">Income</div>
            <div class="px-4 py-2 font-semibold">Expense</div>
        </div>

        <div 
            class="max-h-96 overflow-y-auto"
            (scroll)="checkIfViewIsAtToday()"
            #tableContainer
        >
            
            @for (day of transactionsRecord().days; track day.date){
                <div
                    #dayRow
                    [id]="'day-' + day.date"
                    [class.today-row]="isToday(day.date)"
                    class="grid grid-cols-4 hover:bg-gray-50 cursor-pointer"
                    (click)="toggleDay(day.date)"
                >
                    <div 
                        class="px-4 py-2"
                    >
                        {{parseDate(day.date)}}
                    </div>
                    
                    <div class="px-4 py-2">{{day.balance | currency: 'BRL'}}</div>
                    <div class="px-4 py-2">
                        <div>
                            {{sumIncomeTransactions(day.transactions) | currency: "BRL"}}
                        </div>
                    </div>
                    <div class="px-4 py-2">
                        <div>
                            {{sumExpenseTransactions(day.transactions) | currency: "BRL"}}
                        </div>
                    </div>
                </div>

                <div 
                    class="overflow-hidden transition-all duration-300"
                    [class.max-h-0]="expandedDate() !== day.date"
                    [class.max-h-48]="expandedDate() === day.date"
                >
                    <div class="ml-10">

                        @if (day.transactions.length > 0) {
                            @for (transaction of day.transactions; track transaction.id){
                                <div>
                                    <ul class="flex flex-row gap-2">
                                        <li>{{transaction.type}}</li>
                                        <li>{{transaction.description}}</li>
                                        <li>{{transaction.amount | currency: "BRL"}}</li>
                                    </ul>
                                </div>
                            }
                        } @else {
                            <p class="text-center w-full text-gray-500">No transactions</p>
                        }

                    </div>
                </div>
            }
            
        </div>

    </div>

</div>
